.container {
    @apply max-w-7xl mx-auto px-2;
}

@media (min-width: 640px) {
    .container {
        @apply px-6;
    }
}

@media (min-width: 1024px) {
    .container {
        @apply px-8;
    }
}

.image-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}
.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 80%;
    height: 80%;
}

textarea:focus {
    border-color: red;
}
input:focus,
textarea:focus,
select:focus {
    border: 2px solid #61000a !important;
    box-shadow: 1 1 3px #61000a !important;
    -moz-box-shadow: 1 1 3px #61000a !important;
    -webkit-box-shadow: 1 1 3px #61000a !important;
}
