@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.card-step {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card-body-step {
    background: #fff;
    width: 100%;
    text-align: center;
}
.card-body-step .form-outer {
    width: 100%;
    overflow: hidden;
}
.form-outer form {
    display: flex;
    width: 400%;
}
.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.form-outer form .page .field {
    height: 40px;
    width: 100%;
    margin: 45px 0;
    display: flex;
    position: relative;
}
.form-outer form .page .field-error {
    height: 10px;
    width: 100%;
    display: flex;
    position: relative;
}

.form-outer form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}
.form-outer form .page .field .label-error {
    position: absolute;
    top: -50px;
    font-weight: 500;
}
.form-outer form .page .field input {
    height: 100%;
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}
.form-outer form .page .field textarea{
  height: 100px;
  width: 100%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
}
.form-outer form .page .field input:focus,
.form-outer form .page .field textarea:focus,
.form-outer form .page .field select:focus {
    border: 2px solid #61000a !important;
    box-shadow: 1 1 3px #61000a !important;
    -moz-box-shadow: 1 1 3px #61000a !important;
    -webkit-box-shadow: 1 1 3px #61000a !important;
}
input:focus, textarea:focus, select:focus {
  outline-offset: 0px !important;
  outline: none !important;
  }
.form-outer form .page .field select {
    height: 100%;
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}
.form-outer form .page .field button {
    width: 48%;
    height: cal(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #007bff;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
.form-outer form .page .field .submit {
    width: 48%;
    height: cal(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #dc3545;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
.form-outer form .page .field.firstNext button {
    margin-left: 50%;
}

.form-outer form .page .field.btns .submit {
    height: 60px;
}
.form-outer form .page .field.btns button,
.form-outer form .page .field.btns .submit {
    align-items: right;
    justify-content: right;
    margin-left: 20px;
}
.form-outer form .page .field button:hover,
.form-outer form .page .field .submit:hover {
    background: #000;
}
.form-outer form .page .btns button {
    margin-top: -20px !important;
}
form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next,
form .page .btns button.submit {
    margin-left: 3px;
}
.card-body-step .progress-bar-step {
    display: flex;
    margin: 20px 0;
}
.card-body-step .progress-bar-step .step {
    text-align: center;
    position: relative;
    width: 100%;
}
.progress-bar-step .step p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
    transition: 0.2s;
}
.progress-bar-step .step p.active {
    color: #28a745;
}
.progress-bar-step .step .bullet {
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;
}
.progress-bar-step .step .bullet.active {
    border-color: #28a745;
    background: #28a745;
}
.progress-bar-step .step:last-child .bullet:before,
.progress-bar-step .step:last-child .bullet:after {
    display: none;
}
.progress-bar-step .step .bullet:before,
.progress-bar-step .step .bullet:after {
    position: absolute;
    content: "";
    bottom: 11px;
    right: -250px;
    height: 3px;
    width: 220px;
    background: grey;
}
.progress-bar-step .step .bullet.active:after {
    background: #28a745;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar-step .step .bullet span {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar-step .step .bullet.active span {
    display: none;
}
.progress-bar-step .step .check {
    position: absolute;
    left: 50%;
    top: 72%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar-step .step .check.active {
    display: block;
    color: #fff;
}
